.Reg_btn {
  background-color: #804030 !important;
}
.Reg_btn:hover {
  background-color: white !important;
  color: black !important;
}
.css-1999axt-MuiAvatar-root {
  background-color: #804030 !important;
}
